# Gateway
GATEWAY_NGROK_AUTHTOKEN=super-secret-token

# Citizens Query
CITIZENS_QUERY_DB_NAME=citizen_db
CITIZENS_QUERY_DB_USER=citizen_user
CITIZENS_QUERY_DB_PASSWORD=123456

# Results Service
RESULTS_SVC_DB_NAME=results_db
RESULTS_SVC_DB_USER=results_user
RESULTS_SVC_DB_PASSWORD=123456

# Elections Query
ELECTIONS_QUERY_DB_NAME=election_db
ELECTIONS_QUERY_DB_USER=election_user
ELECTIONS_QUERY_DB_PASSWORD=123456