:80 {
    # Citizens query
    handle /api/v1/citizen /api/v1/citizen/* {
        reverse_proxy citizen-query-service:8080
    }

    # Results service
    handle /api/v1/results /api/v1/results/* {
        reverse_proxy results-service:8080
    }

    # Elections Service
    handle /api/v1/elections /api/v1/elections/* {
        reverse_proxy elections-query-service:8080
    }

    # Catch all for problems
    handle /api/* {
        respond "Forbidden" 403
    }

    # Frontend
    handle {
        reverse_proxy frontend:80
    }
}