POSTGRES_SUPERUSER_PASSWORD=postgres

# <- Sistema Ciudadano ->

# Citizens Query
SC_CITIZENS_DB_NAME=sc_citizen_db
SC_CITIZENS_DB_USER=sc_citizen_user
SC_CITIZENS_DB_PASSWORD=123456

# Results Service
SC_RESULTS_DB_NAME=sc_results_db
SC_RESULTS_DB_USER=sc_results_user
SC_RESULTS_DB_PASSWORD=123456

# Elections Query
SC_ELECTIONS_DB_NAME=sc_elections_db
SC_ELECTIONS_DB_USER=sc_elections_user
SC_ELECTIONS_DB_PASSWORD=123456

# Transparency Service
SC_TRANSPARENCY_DB_NAME=sc_transparency_db
SC_TRANSPARENCY_DB_USER=sc_transparency_user
SC_TRANSPARENCY_DB_PASSWORD=123456

# <- Sistema Registraduria ->

# Election Config
SR_ELECTIONS_DB_NAME=sr_elections_db
SR_ELECTIONS_DB_USER=sc_elections_user
SR_ELECTIONS_DB_PASSWORD=123456

# Gestion Preelectoral
SR_PRE_ELECTIONS_DB_NAME=sr_pre_elections_db
SR_PRE_ELECTIONS_DB_USER=sr_pre_elections_user
SR_PRE_ELECTIONS_DB_PASSWORD=123456

# Secrutiny Service
SR_SCRUTINY_DB_NAME=sr_scrutiny_db
SR_SCRUTINY_DB_USER=sr_scrutiny_user
SR_SCRUTINY_DB_PASSWORD=123456